.card {
  padding: 10px 25px;
  margin: 6px;
}

.wrapper {
  padding: 15px 35px 
}

.text-center {
  padding: 15px
}

.col {
  margin: 4px
}

.card-group.col {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(219, 6, 6, 0.959);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-group.col:hover {
  box-shadow: 0 8px 16px 0 rgba(236, 13, 13, 0.856);
}

/* Add some padding inside the card container */
.card-body {
  padding: 2px 10px;
}

.tablescroll {
  font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .tablescroll td, 
  .tablescroll_wrapper,
  .tablescroll_head,
  .tablescroll_foot { 
  border:1px solid #ccc;
  }
  .tablescroll td {
  padding:10px 16px;
  border-bottom:0;
  border-right:0; 
  }
  .tablescroll_wrapper {
  background-color:#fff;
  border-left:50;
  }
  .tablescroll_head{ 
    font-size:16px; 
    font-weight:bold; 
    background-color:#eee; 
    border-left:0; 
    border-top:0; 
    margin-bottom:3px; 
  }

  .tablescroll thead td
  { border-right:0; border-bottom:0; }
  
  .tablescroll tbody td
  { border-right:0; 
    border-bottom:0; }
  
  .tablescroll tbody tr.first td
  { border-top:0; }

  .tablescroll_foot { 
  background-color:#eee;
  border-left:0;
  border-top:0;
  font-size:11px;
  font-weight:bold;
  }
  .tablescroll_head { 
  margin-bottom:50px;
  }
  .tablescroll_foot { 
  margin-top:50px;
  }
  .tablescroll tbody tr.first td { 
  border-top:0; 
  }

